*,
*:before,
*:after {
    box-sizing: border-box;
}
body {
    margin: 0;
    position: absolute;
}
.body_background {
    margin:0;
    width: 100%;
    height: 100%;
    background-color: lightgrey;

}

.container {

    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
    max-width: 1170px;
    margin: auto;
    padding-top: 15%;
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 2px;
    border-left-color: black;
    border-left-width: 2px;
    border-left-style: solid;

}

.login_form {
    position: inherit;
    width: 27%;
    height: 37%;
    padding: 10px;
    margin: auto;
    background-color: lightgrey;
    border: 2px;
    border-color: black;
    border-style: solid;
    border-radius: 15%;
    

}

